.halfHeight-hero {
  height: 384px;
  object-fit: cover;
}
.workshopImg {
  height: 380px;
}
.fa-card button {
  /* bottom: 0;
  left: 10px !important;
  border-radius: 50%; */
}
.card-button {
  left: 15px;
}
.btn-cont {
  position: relative;
}
.btn-cont .card-button {
  position: absolute;
  top: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);

  color: #1d479b;
  background-color: #fff;
}

center button {
  background-color: #1d479b;
  color: #1d479b;
}
